* {
  margin: 0;
}
body {
  margin: auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  line-height: 1.6em;
  color: black;
}

a {
  text-decoration: none;
  color: rgb(7, 67, 123);
}

.head-container {
  height: 80px;
  background-color: rgb(58, 88, 152);
}
.header img {
  width: 150px;
  position: absolute;
  left: 100px;
  top: 15px;
}
.log-in {
  position: absolute;
  left: 300px;
  top: 5px;
  color: white;
}
.log-in input {
  height: 15px;
  margin-right: 10px;
}
#login-btn {
  background: rgb(58, 88, 152);
  color: white;
  font-weight: bolder;
  font-size: 14px;
  margin: 10px;
  width: 80px;
  font-weight: bold;
  border-color: rgb(17, 48, 116);
  margin: 2px;
  padding: 4px;
}
.main-container {
  background-color: whitesmoke;
  width: auto;
  height: 700px;
}
.left-section {
  position: relative;
  top: 30px;
  left: 150px;
  width: 300px;
}
.left-section p {
  position: relative;
  left: 30px;
  font-weight: bold;
  color: rgb(50, 72, 105);
  font-size: 18px;
}
.left-section img {
  width: 400px;
}
.right-section {
  width: 308px;
  position: relative;
  left: 600px;
  top: -200px;
  color: rgb(50, 72, 105);
}
.right-top-text {
  padding-bottom: 5px;
  border-bottom: 1px solid gray;
}

#sign-up {
  width: 300px;
  position: relative;
  left: 10px;
  top: 10px;
  font-size: 13px;
  line-height: 1.2em;
}
#sign-up td {
  text-align: right;
  padding-top: 5px;
}
#sign-up input {
  width: 200px;
  height: 25px;
}
#sign-up td #gender {
  position: relative;
  left: -120px;
}
#sign-up td #bDay {
  position: relative;
  left: -30px;
}
.agreement {
  width: 200px;
  text-align: justify;
  position: relative;
  left: 100px;
}
.sign-up-btn {
  background-color: rgb(32, 175, 32);
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 5px;
  width: 100px;
}
.right-bottom-text {
  border-top: 1px solid gray;
  padding-top: 5px;
  margin-top: 10px;
  text-align: justify;
  line-height: 0.8em;
}
.right-bottom-text p {
  position: relative;
  left: 15px;
  width: 90%;
  line-height: 1.6em;
}
.footer-container {
  padding-top: 10px;
  width: 70%;
  margin: auto;
}
.footer-top {
  border-bottom: 1px solid gray;
}
.languages {
  font-size: 12px;
  text-align: center;
  word-spacing: 5px;
}
.footer-bottom {
  font-size: 12px;
}
.footer-left {
  position: relative;
  left: 10px;
  color: rgb(75, 75, 75);
}
.footer-right {
  position: relative;
  left: 300px;
  top: -25px;
  width: 400px;
  text-align: right;
}
